.main-navbar {
  padding: 15px 30px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}
a {
  text-decoration: none;
}
.btn-log-in {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #2585ff;
  background-color: #2585ff;
  border-radius: 5px;
  padding: 9px 16px;
  font-size: 12px;
  outline: none;
  position: relative;
  color: #fff;
}
.h-6 {
  height: 43px;
  width: 36px;
  margin-top: -7px;
  margin-right: 5px;
}

.container-main-mid {
  display: flex;
  flex-direction: column;
  margin: 120px auto 0px auto;
  padding: 0px 15px;
  align-items: center;
}
.container-row-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slect-currency {
  border: 1px solid black;
}

.number-currency {
  margin-top: 10px;
  height: 40px;
  width: 209px;
  border-radius: 4px;
  border: 1px solid #aaa;
  position: relative;
  margin-right: 1px;
  margin-left: 1px;
}
.price-currency {
  margin-top: 10px;
  height: 40px;
  width: 209px;
  border-radius: 4px;
  border: 1px solid #aaa;
  position: relative;
  margin-right: 1px;
  margin-left: 1px;
}
.select-currency {
  margin-top: 10px;
  height: 40px;
  width: 209px;
  border-radius: 4px;
  border: 1px solid #aaa;
  position: relative;
  margin-right: 1px;
  margin-left: 1px;
}
.absolute-number-currency {
  position: absolute;
}
.absolute-number-currency {
  left: 931px;
  position: absolute;
  color: #3c3c3c;
  font-size: 10px;
  background: white;
  padding: 2px;
  top: 295px;
}
.absolute-select-currency {
  left: 713px;
  position: absolute;
  color: #3c3c3c;
  font-size: 10px;
  background: white;
  padding: 2px;
  top: 295px;
}

.absolute-price-currency {
  left: 1149px;
  position: absolute;
  color: #3c3c3c;
  font-size: 10px;
  background: white;
  padding: 2px;
  top: 295px;
}
